<div class="container">
    <div class="row">
        <h2>NUEVO TITULO PARA EL CHANGUITO</h2>
        <div class="col-6">
            <div class="card">
                <img src="../assets/images/logo1.jpg" class="card-img-top" alt="...">
                <div class="card-body">

                    <p class="card-text">Borcego </p>
                    <p>Precio: $5000</p>
                    <p>Talle 36</p>
                    <a href="#" class="btn btn-primary">Consultar por articulo</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <img src="../assets/images/logo1.jpg" class="card-img-top" alt="...">
                <div class="card-body">

                    <p class="card-text">Borcego </p>
                    <p>Precio: $5000</p>
                    <p>Talle 36</p>
                    <a href="#" class="btn btn-primary">Consultar por articulo</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <img src="../assets/images/logo1.jpg" class="card-img-top" alt="...">
                <div class="card-body">

                    <p class="card-text">Borcego </p>
                    <p>Precio: $5000</p>
                    <p>Talle 36</p>
                    <a href="#" class="btn btn-primary">Consultar por articulo</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <img src="../assets/images/logo1.jpg" class="card-img-top" alt="...">
                <div class="card-body">

                    <p class="card-text">Borcego </p>
                    <p>Precio: $5000</p>
                    <p>Talle 36</p>
                    <a href="#" class="btn btn-primary">Consultar por articulo</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <img src="../assets/images/logo1.jpg" class="card-img-top" alt="...">
                <div class="card-body">

                    <p class="card-text">Borcego </p>
                    <p>Precio: $5000</p>
                    <p>Talle 36</p>
                    <a href="#" class="btn btn-primary">Consultar por articulo</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <img src="../assets/images/logo1.jpg" class="card-img-top" alt="...">
                <div class="card-body">

                    <p class="card-text">Borcego </p>
                    <p>Precio: $5000</p>
                    <p>Talle 36</p>
                    <a href="#" class="btn btn-primary">Consultar por articulo</a>
                </div>
            </div>
        </div>

    </div>
    <div class="whattsap">
        <a href="https://wa.me/543884713864?text=quiero informacion sobre este producto" target="_blank">
            <img class="boton-whattsap" src="../assets/images/whatsapp-line.svg" alt="">
        </a>
    </div>
</div>